
.research-h1 {
    /* font-weight: none; */
    text-align: center;
    font-size: 40px;
    font-family: 'Judson', serif;
    line-height: 5rem;
}

.p-container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

p {
    /* text-indent: 1rem; */
}
