
.results-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    /* max-height: 200px; */
    /* columns: 2; */
}

.results-item {
    margin-top: 15%;
    padding: 2rem;
    border: 1px solid rgba(34, 34, 34, 0.349);
    /* max-height: 200px; */
    columns: 2;
}

.h6 {
    text-align: left;
    width: 100%;
    font-size: 14px !important;
    font-weight: bold;
    padding-top: 1rem !important;
    padding-bottom: -2rem !important;
 }

.results-results {
    /* margin-top: -.5rem !important; */
    width: 43%;
} 
