
.results-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    /* max-height: 200px; */
    /* columns: 2; */
}

.results-item {
    margin-top: 15%;
    padding: 2rem;
    border: 1px solid rgba(34, 34, 34, 0.349);
    /* max-height: 200px; */
    columns: 2;
}

.h6 {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.results-results {
    padding-bottom: -20px;
    width: 33%;
}
