.inline-logo {
    width: 25%;
    padding-top: 1rem;
}

.center-footer {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h5, h6 {
    font-weight: normal;
    line-height: .5px;
    text-align: center;
}

.footer {
    padding-top: 5%;
}