.field-30 {
    width: 30%;
    padding: 20px 10px; 
    line-height: 28px; 
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
}

.field-50 {
    width: 50%;
}

.field-60 {
    width: 60%;
}

.field-height {
    height: 65px !important;
    
}