@import url('https://fonts.googleapis.com/css?family=Judson');

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Judson', serif;
    line-height: 5rem;
}


.quote-blockquote {
    /* padding-top: 3rem; */
    font-style: italic;
    font-size: 25px;
    width: 45%;
    line-height: 2rem;
}


.author {
    /* width: 100%; */
    margin-top: .5rem;
    float: left;
    font-style: italic;
    color: rgb(51, 92, 131);
    /* padding-right: 20rem; */
}


.quote-container {
    width: 100%;
    /* padding-top: 15%; */
    padding-left: 15%;
}



.banner-container {
    height: 400px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 3100px;
    object-position: center;
}