main {
    font-size: 22px;
}

.quote-container {
    width: 100%;
    padding-top: 15%;
    padding-left: 5rem;
}

.quote-blockquote {
    padding-top: 3rem;
    font-style: italic;
    width: 55%;
}

.author {
    font-style: italic;
    color: rgb(51, 92, 131);
}

/* .bear {
    width: 10%;
    float: right;
} */
