.onload-modal {
        background-image: url('./images/open-space-2.jpg') ;
        background-position: center center;
        background-repeat:  no-repeat;
        width: 100%;
        margin: auto;
        background-size: cover;
        align-items: center !important;
        justify-content: center !important;
}

.modal-height {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
}

h1 {
        font-family: 'Copperplate', 'Copperplate Gothic Light', fantasy; 
        font-size: 180px !important;
        text-align: center;
}

.modal-content {
        text-align: center;
        font-size: 28px;
        background-color: rgba(250, 250, 250, 0.7);
        padding: 1rem;
}

#modal-margin {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem !important;
}

.bears-logo {
        width: 80%;
        margin-left: 5rem;
}