.block-logo {
    padding-top: 1%;
    width: 25%;
    float: left;
    margin-left: 5%;
}

.nav-bar {
    /* display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%; */
    float: right;
    /* padding-right: 5%; */
    margin-top: 5%;
    
}

.top-padding {
    margin-top: 5%;
}

ul li {
    list-style-type: none;
    font-size: 18px;
}

.nav-link:link {

}

.nav-link:active {
    color: rgb(165, 18, 87);
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(165, 18, 87);
}
