@import url('https://fonts.googleapis.com/css?family=Judson');


.research-h1 {
    /* font-weight: none; */
    text-align: center;
    font-size: 40px;
    font-family: 'Judson', serif;
    line-height: 5rem;
}

.research-content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    columns: 2;
    margin-bottom: 2rem;
    font-size: 18px;
}

.right-content {
    float: right;
    margin-left: 2rem;
}

.left-content {
    float: left;
    margin-right: 2rem;
}

.container {
    display: block;
    margin: 12%;
}

.graphs-layout {
    width: 80%;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.content-top {
    padding-top: 1%;
    font-size: 18px;
}

.graphs {
    width: 40%;
    height: 35%;
}

.long-graphs {
    width: 50%;
    height: 40%;
}

.review-intro {
    width: 45%;
    font-size: 18px;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.center-btn {
    text-align: center;
    margin-bottom: 10%;
}