@import url('https://fonts.googleapis.com/css?family=Judson');


.research-h1 {
    /* font-weight: none; */
    text-align: center;
    font-size: 40px;
    font-family: 'Judson', serif;
    line-height: 5rem;
}

.research-content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    columns: 2;
    margin-bottom: 2rem;
}

.graphs-layout {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 10%;
}

.graphs {
    width: 40%;
    height: 35%;
}
.long-graphs {
    width: 50%;
    height: 40%;
}

.review-intro {
    width: 45%;
    font-size: 18px;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}